.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto 0;
  max-width: var(--max-width);
  overflow: hidden;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .first-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    object-fit: cover;

    @media (max-width: 800px) {
      max-height: 500px;
    }

    .left-image {
      display: flex;
      height: 100%;
    }
    .second-image {
      display: grid;

      .image {
        height: 100%;
        max-width: 100%;
        object-fit: cover;

        @media (max-width: 800px) {
        }
      }
    }
  }

  .second-column {
    .image {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
