.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto 0;
  max-width: var(--max-width);
  overflow: hidden;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .first-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    object-fit: cover;
    height: 500px;

    .first-image {
      display: flex;

      .left-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .second-image {
      display: flex;
      flex-direction: column;

      .second-item {
        height: 250px;
        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .second-column {
    height: 500px;
    .image {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
