.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto 0;
  max-width: var(--max-width);
  overflow: hidden;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  .first-column {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 100%;
    object-fit: cover;

    .first-image {
      display: block;
      height: 100%;
      max-width: 100%;
      object-fit: cover;

      @media (max-width: 500px) {
        max-height: 375px;
        height: 100%;
      }
    }
    .second-image {
      display: grid;

      .image {
        height: 100%;
        max-width: 100%;
        object-fit: cover;

        @media (max-width: 500px) {
          max-height: 162px;
          height: 100%;
        }
      }
    }
  }

  .second-column {
    .image {
      height: 100%;
      max-width: 100%;
      object-fit: cover;

      @media (max-width: 500px) {
        // max-width: 360px;
        // height: 100%;
      }
    }
  }
}
